<h1>Projektlista</h1>

<h3>TODO</h3>
<p>Lista alla projekt från apiet i en css-grid med "cards", automatiskt antal columner 20rem breda med 1rem bred gap.</p>
<p>Varje card ska innehålla:</p>
<ul>
  <li>Den första bilden i images arrayn där bildstorleken anpassar sig efter gridstorleken (fluid image)</li>
  <li>name</li>
  <li>beskrivning</li>
  <li>Hela carden ska navigera till /project/:id</li>
</ul>

<h3>Tilläggsuppgift (när allt annat är klart)</h3>
<p>
  Överst på sidan så behöver vi ha en stor sökruta som när man fyller i ska filtrera projektlistan baserat på namn
  För att filtrera inte ska låsa gränssnittet så bör rxjs operatörerna, debounceTime och distinctUntilChanged användas.
  här går det att läsa mer om ämnet https://egghead.io/courses/build-an-angular-instant-search-component
</p>

<hr>

<div class="centered">
	<section class="cards">
		<article class="card" *ngFor="let project of projects$ | async">
			<a href="/project/{{ project.id }}">
				<img src="{{ project.images[0] }}"/>
				<div class="card-content">
					<h2 ngxEllipsis [lines]="1">{{ project.name }}</h2>
					<h3>{{ project.date | date:'yyyy-MM-dd' }}</h3>
					<p ngxEllipsis [lines]="5">{{ project.description }}</p>
				</div>
			</a>
		</article>
	</section>
</div>
